:root {
  --form-white: #fff;
  --form-black: #000;
  --form-main-background-color: #e2dada;
  --form-focus-background-color: #f1f4ff;
  --form-border-color: #757575;
  --form-highlight-border-color: #1d90ff;
  --form-highlight-border-color-opaque: #2574b0;
  --form-main-font-color: #292929;
  --form-scroll-arrowUp: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(41, 41, 41)%22%20d%3D%22m90 39.795-77.781 77.783 22.627 22.627 55.155-55.156 55.154 55.156 22.627-22.627z%22%20%2F%3E%3C%2Fsvg%3E");
  --form-scroll-arrowDown: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(41, 41, 41)%22%20d%3D%22m90 140.21 77.781-77.783-22.627-22.627-55.155 55.156-55.154-55.156-22.627 22.627z%22%20%2F%3E%3C%2Fsvg%3E");
  --form-scroll-arrowLeft: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(41, 41, 41)%22%20d%3D%22m39.795 90 77.783 77.781 22.627-22.627-55.156-55.155 55.156-55.154-22.627-22.627z%22%20%2F%3E%3C%2Fsvg%3E");
  --form-scroll-arrowRight: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(41, 41, 41)%22%20d%3D%22m140.21 90-77.783-77.781-22.627 22.627 55.156 55.155-55.156 55.154 22.627 22.627z%22%20%2F%3E%3C%2Fsvg%3E");
  --form-scroll-corner: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(41, 41, 41)%22%20d%3D%22m180 83.997-96 96.003h14.768l81.232-81.23zm-1e-5 29.541-66.461 66.461h14.768l51.693-51.693zm1e-5 29.539-36.923 36.923h14.768l22.155-22.155zm0 29.539-7.384 7.384h7.384z%22%20%2F%3E%3C%2Fsvg%3E");
  --form-arrow: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(41, 41, 41)%22%20d%3D%22m140.21 90-77.783-77.781-22.627 22.627 55.156 55.155-55.156 55.154 22.627 22.627z%22%20%2F%3E%3C%2Fsvg%3E");
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --white: #fff;
    --black: #000;
    --form-focus-background-color: #293141;
    --form-main-background-color: #161619;
    --form-border-color: #878787;
    --form-highlight-border-color: #136bae;
    --form-highlight-border-color-opaque: #1b5c8d;
    --form-main-font-color: #d6cece;
    --form-scroll-arrowUp: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(19, 107, 174)%22%20d%3D%22m90 39.795-77.781 77.783 22.627 22.627 55.155-55.156 55.154 55.156 22.627-22.627z%22%20%2F%3E%3C%2Fsvg%3E");
    --form-scroll-arrowDown: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(19, 107, 174)%22%20d%3D%22m90 140.21 77.781-77.783-22.627-22.627-55.155 55.156-55.154-55.156-22.627 22.627z%22%20%2F%3E%3C%2Fsvg%3E");
    --form-scroll-arrowLeft: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(19, 107, 174)%22%20d%3D%22m39.795 90 77.783 77.781 22.627-22.627-55.156-55.155 55.156-55.154-22.627-22.627z%22%20%2F%3E%3C%2Fsvg%3E");
    --form-scroll-arrowRight: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(19, 107, 174)%22%20d%3D%22m140.21 90-77.783-77.781-22.627 22.627 55.156 55.155-55.156 55.154 22.627 22.627z%22%20%2F%3E%3C%2Fsvg%3E");
    --form-scroll-corner: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(214, 206, 206)%22%20d%3D%22m180 83.997-96 96.003h14.768l81.232-81.23zm-1e-5 29.541-66.461 66.461h14.768l51.693-51.693zm1e-5 29.539-36.923 36.923h14.768l22.155-22.155zm0 29.539-7.384 7.384h7.384z%22%20%2F%3E%3C%2Fsvg%3E");
    --form-dropdown-arrow: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E");
    --form-arrow: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(214, 206, 206)%22%20d%3D%22m140.21 90-77.783-77.781-22.627 22.627 55.156 55.155-55.156 55.154 22.627 22.627z%22%20%2F%3E%3C%2Fsvg%3E");
  }
  html {
    color-scheme: dark;
  }
}
@media screen and (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
.form-dark-scheme {
  color-scheme: dark;
  --form-white: #000;
  --form-black: #fff;
  --form-main-background-color: #161619;
  --form-focus-background-color: #293141;
  --form-border-color: #878787;
  --form-highlight-border-color: #136bae;
  --form-highlight-border-color-opaque: #1b5c8d;
  --form-main-font-color: #d6cece;
  --form-scroll-arrowUp: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(19, 107, 174)%22%20d%3D%22m90 39.795-77.781 77.783 22.627 22.627 55.155-55.156 55.154 55.156 22.627-22.627z%22%20%2F%3E%3C%2Fsvg%3E");
  --form-scroll-arrowDown: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(19, 107, 174)%22%20d%3D%22m90 140.21 77.781-77.783-22.627-22.627-55.155 55.156-55.154-55.156-22.627 22.627z%22%20%2F%3E%3C%2Fsvg%3E");
  --form-scroll-arrowLeft: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(19, 107, 174)%22%20d%3D%22m39.795 90 77.783 77.781 22.627-22.627-55.156-55.155 55.156-55.154-22.627-22.627z%22%20%2F%3E%3C%2Fsvg%3E");
  --form-scroll-arrowRight: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(19, 107, 174)%22%20d%3D%22m140.21 90-77.783-77.781-22.627 22.627 55.156 55.155-55.156 55.154 22.627 22.627z%22%20%2F%3E%3C%2Fsvg%3E");
  --form-scroll-corner: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(19, 107, 174)%22%20d%3D%22m180 83.997-96 96.003h14.768l81.232-81.23zm-1e-5 29.541-66.461 66.461h14.768l51.693-51.693zm1e-5 29.539-36.923 36.923h14.768l22.155-22.155zm0 29.539-7.384 7.384h7.384z%22%20%2F%3E%3C%2Fsvg%3E");
  --form-arrow: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(22, 22, 25)%22%20d%3D%22m140.21 90-77.783-77.781-22.627 22.627 55.156 55.155-55.156 55.154 22.627 22.627z%22%20%2F%3E%3C%2Fsvg%3E");
}

.form-light-scheme {
  color-scheme: light;
  --form-white: #000;
  --form-black: #fff;
  --form-focus-background-color: #f1f4ff;
  --form-main-background-color: #e2dada;
  --form-border-color: #757575;
  --form-highlight-border-color: #1d90ff;
  --form-highlight-border-color-opaque: #2574b0;
  --form-main-font-color: #292929;
  --form-scroll-arrowUp: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(41, 41, 41)%22%20d%3D%22m90 39.795-77.781 77.783 22.627 22.627 55.155-55.156 55.154 55.156 22.627-22.627z%22%20%2F%3E%3C%2Fsvg%3E");
  --form-scroll-arrowDown: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(41, 41, 41)%22%20d%3D%22m90 140.21 77.781-77.783-22.627-22.627-55.155 55.156-55.154-55.156-22.627 22.627z%22%20%2F%3E%3C%2Fsvg%3E");
  --form-scroll-arrowLeft: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(41, 41, 41)%22%20d%3D%22m39.795 90 77.783 77.781 22.627-22.627-55.156-55.155 55.156-55.154-22.627-22.627z%22%20%2F%3E%3C%2Fsvg%3E");
  --form-scroll-arrowRight: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(41, 41, 41)%22%20d%3D%22m140.21 90-77.783-77.781-22.627 22.627 55.156 55.155-55.156 55.154 22.627 22.627z%22%20%2F%3E%3C%2Fsvg%3E");
  --form-scroll-corner: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(41, 41, 41)%22%20d%3D%22m180 83.997-96 96.003h14.768l81.232-81.23zm-1e-5 29.541-66.461 66.461h14.768l51.693-51.693zm1e-5 29.539-36.923 36.923h14.768l22.155-22.155zm0 29.539-7.384 7.384h7.384z%22%20%2F%3E%3C%2Fsvg%3E");
  --form-arrow: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20180%20180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22rgb(214, 206, 206)%22%20d%3D%22m140.21 90-77.783-77.781-22.627 22.627 55.156 55.155-55.156 55.154 22.627 22.627z%22%20%2F%3E%3C%2Fsvg%3E");
}

button,
select,
input,
textarea {
  background-color: var(--form-main-background-color);
  border-color: var(--form-border-color);
  color: var(--form-main-font-color);
}
button:focus, button:focus-within, button:focus-visible,
select:focus,
select:focus-within,
select:focus-visible,
input:focus,
input:focus-within,
input:focus-visible,
textarea:focus,
textarea:focus-within,
textarea:focus-visible {
  color: var(--form-main-font-color);
  background-color: var(--form-focus-background-color);
  border-color: var(--form-highlight-border-color);
}
button:not(:disabled):hover:not(:focus),
select:not(:disabled):hover:not(:focus),
input:not(:disabled):hover:not(:focus),
textarea:not(:disabled):hover:not(:focus) {
  border-color: var(--form-highlight-border-color);
}
button:not(:disabled):hover:not(:focus)::-moz-placeholder, select:not(:disabled):hover:not(:focus)::-moz-placeholder, input:not(:disabled):hover:not(:focus)::-moz-placeholder, textarea:not(:disabled):hover:not(:focus)::-moz-placeholder {
  color: var(--form-highlight-border-color-opaque);
}
button:not(:disabled):hover:not(:focus):-ms-input-placeholder, select:not(:disabled):hover:not(:focus):-ms-input-placeholder, input:not(:disabled):hover:not(:focus):-ms-input-placeholder, textarea:not(:disabled):hover:not(:focus):-ms-input-placeholder {
  color: var(--form-highlight-border-color-opaque);
}
button:not(:disabled):hover:not(:focus)::placeholder,
select:not(:disabled):hover:not(:focus)::placeholder,
input:not(:disabled):hover:not(:focus)::placeholder,
textarea:not(:disabled):hover:not(:focus)::placeholder {
  color: var(--form-highlight-border-color-opaque);
}

button,
input,
output,
select,
textarea {
  border-radius: 0.25em;
  border-style: solid;
  border-width: 0.2em;
  font-size: 1em;
  outline: none;
  padding: 0.5em 0.75em;
  vertical-align: middle;
}
button:disabled,
input:disabled,
output:disabled,
select:disabled,
textarea:disabled {
  cursor: not-allowed !important;
}

button,
input[type=button],
input[type=color],
input[type=file],
input[type=image],
input[type=color],
input[type=radio],
input[type=reset],
input[type=submit] {
  cursor: pointer;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  border-radius: 0.5em;
  padding: 0.5em 1.5em;
}
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  background-color: var(--form-focus-background-color);
}
button:active,
input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active {
  background-color: var(--form-highlight-border-color);
  border-color: var(--form-main-font-color);
}

input:focus, input:focus-within, input:focus-visible,
textarea:focus,
textarea:focus-within,
textarea:focus-visible {
  border-style: solid;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.4;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.4;
}
input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 0.4;
}
input:not(:disabled):hover:not(:focus),
textarea:not(:disabled):hover:not(:focus) {
  border-style: solid;
}
input:not(:disabled):hover:not(:focus)::-moz-placeholder, textarea:not(:disabled):hover:not(:focus)::-moz-placeholder {
  opacity: 1;
}
input:not(:disabled):hover:not(:focus):-ms-input-placeholder, textarea:not(:disabled):hover:not(:focus):-ms-input-placeholder {
  opacity: 1;
}
input:not(:disabled):hover:not(:focus)::placeholder,
textarea:not(:disabled):hover:not(:focus)::placeholder {
  opacity: 1;
}

select,
textarea {
  scrollbar-color: var(--form-highlight-border-color-opaque) var(--form-main-background-color);
}
select::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}
select::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background-color: var(--form-main-background-color);
}
select::-webkit-scrollbar-track-piece,
textarea::-webkit-scrollbar-track-piece {
  background-clip: content-box;
  border-radius: 1em;
}
select::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background: var(--form-highlight-border-color-opaque);
}
select::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover {
  background: var(--form-highlight-border-color);
}
select::-webkit-scrollbar-button:vertical:start:decrement, select::-webkit-scrollbar-button:vertical:end:increment, select::-webkit-scrollbar-button:horizontal:end:decrement, select::-webkit-scrollbar-button:horizontal:end:increment, select::-webkit-scrollbar-corner, select::-webkit-resizer,
textarea::-webkit-scrollbar-button:vertical:start:decrement,
textarea::-webkit-scrollbar-button:vertical:end:increment,
textarea::-webkit-scrollbar-button:horizontal:end:decrement,
textarea::-webkit-scrollbar-button:horizontal:end:increment,
textarea::-webkit-scrollbar-corner,
textarea::-webkit-resizer {
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  position: relative;
}
select::-webkit-scrollbar-button:vertical:start:decrement:active, select::-webkit-scrollbar-button:vertical:end:increment:active, select::-webkit-scrollbar-button:horizontal:end:decrement:active, select::-webkit-scrollbar-button:horizontal:end:increment:active, select::-webkit-scrollbar-corner:active, select::-webkit-resizer:active,
textarea::-webkit-scrollbar-button:vertical:start:decrement:active,
textarea::-webkit-scrollbar-button:vertical:end:increment:active,
textarea::-webkit-scrollbar-button:horizontal:end:decrement:active,
textarea::-webkit-scrollbar-button:horizontal:end:increment:active,
textarea::-webkit-scrollbar-corner:active,
textarea::-webkit-resizer:active {
  background-color: var(--form-border-color);
}
select::-webkit-scrollbar-button:vertical:start:decrement,
textarea::-webkit-scrollbar-button:vertical:start:decrement {
  background-image: var(--form-scroll-arrowUp);
}
select::-webkit-scrollbar-button:vertical:end:increment,
textarea::-webkit-scrollbar-button:vertical:end:increment {
  background-image: var(--form-scroll-arrowDown);
}
select::-webkit-scrollbar-button:horizontal:start:decrement,
textarea::-webkit-scrollbar-button:horizontal:start:decrement {
  background-image: var(--form-scroll-arrowLeft);
}
select::-webkit-scrollbar-button:horizontal:end:increment,
textarea::-webkit-scrollbar-button:horizontal:end:increment {
  background-image: var(--form-scroll-arrowRight);
}
select::-webkit-resizer,
textarea::-webkit-resizer {
  background-image: var(--form-scroll-corner);
  background-color: transparent;
}
select ::-webkit-scrollbar-track-piece:no-button,
textarea ::-webkit-scrollbar-track-piece:no-button {
  background-color: var(--form-main-background-color);
}

fieldset {
  border-collapse: initial;
  border-color: var(--form-border-color);
  border-radius: 0.5em;
  border-style: solid;
  border-width: 0.125em;
  padding: 0 0.5em 1em 0.5em;
}
fieldset legend {
  padding: 0 0.75em;
  margin: 0 0.5em 0.5em;
}

label {
  margin: 1em 0 0.5em;
}

legend {
  font-weight: bold;
  margin: 0.5em 0.5em 0;
}

input:-internal-autofill-selected {
  -webkit-appearance: initial !important;
     -moz-appearance: initial !important;
          appearance: initial !important;
  background-image: initial !important;
  background-color: initial !important;
  color: initial !important;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  position: relative;
  margin: 0;
}
input[type=checkbox]:not(.switch) {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  height: 1em;
  padding: 0;
  width: 1em;
}
input[type=checkbox]:not(.switch)::before, input[type=checkbox]:not(.switch)::after {
  border-radius: 0.1em;
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
}
input[type=checkbox]:not(.switch):focus::before, input[type=checkbox]:not(.switch):focus-within::before, input[type=checkbox]:not(.switch):focus-visible::before, input[type=checkbox]:not(.switch):hover::before {
  background-color: var(--form-focus-background-color);
  outline-color: var(--form-highlight-border-color);
}
input[type=checkbox]:not(.switch)::before {
  background-color: var(--form-main-background-color);
  outline-color: var(--form-border-color);
  outline-offset: -0.1em;
  outline-style: solid;
  outline-width: 0.15em;
}
input[type=checkbox]:not(.switch):hover {
  border: none;
}
input[type=checkbox]:not(.switch):checked::after {
  border-color: var(--form-main-font-color);
  border-style: solid;
  border-width: 0 0.25em 0.25em 0;
  height: 0.5em;
  left: 15%;
  position: absolute;
  top: 45%;
  transform: rotate(45deg) translate(-50%, -50%);
  width: 0.15em;
}
input[type=checkbox]:not(.switch):checked::before {
  background-color: var(--form-focus-background-color);
}
input[type=checkbox].switch {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  vertical-align: text-top;
  width: 2.75em;
}
input[type=checkbox].switch::before, input[type=checkbox].switch::after {
  border-radius: 5em;
  content: "";
  position: absolute;
  transition-duration: 0.2s;
  transition-property: left;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
input[type=checkbox].switch::after {
  background-color: var(--form-main-font-color);
  height: 1.15em;
  left: -2%;
  top: -0.075em;
  width: 1.15em;
}
@supports (-moz-appearance: none) {
  input[type=checkbox].switch::after {
    top: -0.075em;
  }
}
input[type=checkbox].switch::before {
  background-color: var(--form-main-background-color);
  height: 1em;
  outline-color: var(--form-border-color);
  outline-offset: -0.1em;
  outline-style: solid;
  outline-width: 0.15em;
  width: 2.5em;
}
input[type=checkbox].switch:checked:after {
  background-color: var(--form-highlight-border-color);
  left: 1.475em;
}
input[type=checkbox].switch:checked::before {
  background-color: var(--form-focus-background-color);
}
input[type=checkbox].switch:hover::before {
  background-color: var(--form-focus-background-color);
  outline-color: var(--form-highlight-border-color);
}
input[type=checkbox]:not(:disabled):hover:not(:focus) {
  border: none;
}

input[type=color] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  height: 2em;
  padding: 0;
  width: 2em;
}
input[type=color]:focus, input[type=color]:focus-within, input[type=color]:focus-visible, input[type=color]:hover {
  border: none;
}
input[type=color]:not(:disabled):hover:not(:focus) {
  border: none;
}
input[type=color]::-webkit-color-swatch {
  border: 1px solid var(--form-border-color);
}
input[type=color]::-webkit-color-swatch, input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type=color][list] {
  position: relative;
}
input[type=color][list]::before {
  content: var(--form-arrow);
  position: absolute;
  right: 0;
  rotate: 90deg;
  top: 50%;
  width: 0.75em;
  height: 0.75em;
  transform: translateX(-50%);
}
@supports not (-moz-appearance: none) {
  input[type=color][list] {
    width: 3em;
  }
  input[type=color][list]::-webkit-color-swatch-wrapper {
    padding-right: 1em;
    background-color: var(--form-border-color);
    border-radius: 0 0.2em 0.2em 0;
  }
}

input[type=image] {
  background: none;
  border: none;
  padding: 0;
  margin: 0.5em;
}
input[type=image]:not(:disabled):hover {
  border-color: none;
}
input[type=image]:not(:disabled):hover:not(:focus) {
  border: none;
}
input[type=image]:active {
  background: none;
}
input[type=image]:disabled {
  filter: saturate(0.6);
  opacity: 0.8;
}
input[type=image]:hover {
  background: none;
  border: none;
}
input[type=image]:focus, input[type=image]:focus-visible, input[type=image]:focus-within {
  background: none;
  outline-color: var(--form-focus-background-color);
}
input[type=image]:focus:not(:disabled), input[type=image]:focus-visible:not(:disabled), input[type=image]:focus-within:not(:disabled) {
  outline-width: 0.15em;
  outline-style: solid;
  outline-offset: -0.05em;
}

input[type=number].no-arrows::-webkit-outer-spin-button, input[type=number].no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
input[type=number].no-arrows[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 1.25em;
  vertical-align: bottom;
  width: 1.25em;
  margin: 0 0 0 0.25em;
  border-radius: 2em;
  border-style: none;
  background-color: transparent;
  overflow: hidden;
  position: relative;
}
input[type=radio]::before, input[type=radio]::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  border: none;
}
@supports (-moz-appearance: none) {
  input[type=radio]::before, input[type=radio]::after {
    position: static;
  }
}
input[type=radio]::after {
  border-radius: 2em;
  left: 50%;
  outline-color: var(--form-main-background-color);
  outline-offset: -0.15em;
  outline-style: solid;
  outline-width: 0.2em;
  overflow: hidden;
  background-color: var(--form-main-background-color);
  transform: translate(20%, -122%);
  height: 70%;
  width: 70%;
}
@supports (-moz-appearance: none) {
  input[type=radio]::after {
    transform: translate(21%, -121%);
    height: 70%;
    width: 70%;
  }
}
input[type=radio]::before {
  background-color: var(--form-border-color);
}
input[type=radio]:checked::after {
  background-color: var(--form-highlight-border-color);
}
input[type=radio]:checked::before {
  background-color: var(--form-border-color);
}
input[type=radio]:focus:not(:disabled), input[type=radio]:focus-within:not(:disabled), input[type=radio]:focus-visible:not(:disabled), input[type=radio]:hover:not(:disabled) {
  border: none;
}
input[type=radio]:focus:not(:disabled):not(:checked)::after, input[type=radio]:focus-within:not(:disabled):not(:checked)::after, input[type=radio]:focus-visible:not(:disabled):not(:checked)::after, input[type=radio]:hover:not(:disabled):not(:checked)::after {
  background-color: var(--form-focus-background-color);
  outline: none;
}
input[type=radio]:focus:not(:disabled)::before, input[type=radio]:focus-within:not(:disabled)::before, input[type=radio]:focus-visible:not(:disabled)::before, input[type=radio]:hover:not(:disabled)::before {
  background-color: var(--form-highlight-border-color);
}
input[type=radio]:focus:not(:disabled):checked::after, input[type=radio]:focus-within:not(:disabled):checked::after, input[type=radio]:focus-visible:not(:disabled):checked::after, input[type=radio]:hover:not(:disabled):checked::after {
  background-color: var(--form-highlight-border-color);
  outline-color: var(--form-focus-background-color);
}

input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 1em;
  padding: 0;
  position: relative;
}
@supports (-moz-appearance: none) {
  input[type=range] {
    background-color: transparent;
  }
}
input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
          appearance: none;
  background-color: var(--form-main-background-color);
  border-radius: 1em;
  cursor: pointer;
  height: calc(0.5em + 0.1em);
  outline-color: var(--form-border-color);
  outline-offset: -0.1em;
  outline-style: solid;
  outline-width: 0.1em;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  background-color: var(--form-highlight-border-color-opaque);
  border-radius: 1em;
  cursor: ew-resize;
  height: 1em;
  transform: translateY(calc(((0.5em / 2) - 0.5px) * -1));
  width: 1em;
}
input[type=range]::-moz-range-progress {
  visibility: hidden;
}
input[type=range]::-moz-range-track {
  background-color: var(--form-main-background-color);
  border-radius: 1em;
  cursor: pointer;
  height: 0.5em;
  border-width: 0.1em;
  border-style: solid;
}
input[type=range]::-moz-range-thumb {
  background-color: var(--form-highlight-border-color-opaque);
  border: none;
  cursor: ew-resize;
}
@supports (-moz-appearance: none) {
  input[type=range]:focus, input[type=range]:active, input[type=range]:hover {
    background-color: transparent;
  }
}
input[type=range]:focus::-webkit-slider-runnable-track, input[type=range]:active::-webkit-slider-runnable-track, input[type=range]:hover::-webkit-slider-runnable-track {
  background-color: var(--form-focus-background-color);
}
input[type=range]:focus::-moz-range-track, input[type=range]:active::-moz-range-track, input[type=range]:hover::-moz-range-track {
  background-color: var(--form-focus-background-color);
}
input[type=range]:focus::-moz-range-thumb, input[type=range]:active::-moz-range-thumb, input[type=range]:hover::-moz-range-thumb {
  background-color: var(--form-highlight-border-color);
}
input[type=range]:focus::-webkit-slider-thumb, input[type=range]:active::-webkit-slider-thumb, input[type=range]:hover::-webkit-slider-thumb {
  background-color: var(--form-highlight-border-color);
}
input[type=range]:hover {
  border-width: 0;
}

meter {
  height: 1.15em;
}

output {
  border: none;
}

progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 1em;
  border: none;
  height: 1em;
  overflow: hidden;
  padding: 0;
  vertical-align: 0;
}
@-webkit-keyframes animated-stripes {
  from {
    background-position: 0%;
  }
  to {
    background-position: 72%;
  }
}
@keyframes animated-stripes {
  from {
    background-position: 0%;
  }
  to {
    background-position: 72%;
  }
}
@supports (-moz-appearance: none) {
  progress {
    background-color: var(--form-main-background-color);
    height: 1em;
    outline-color: var(--form-highlight-border-color-opaque);
    outline-offset: -0.1em;
    outline-style: solid;
    outline-width: 0.2em;
  }
}
progress::-moz-progress-bar {
  background-color: var(--form-highlight-border-color-opaque);
}
progress::-webkit-progress-bar {
  -webkit-appearance: none;
          appearance: none;
  background-color: var(--form-main-background-color);
  border-radius: 1em;
  height: 1em;
  outline-color: var(--form-highlight-border-color-opaque);
  outline-offset: -0.2em;
  outline-style: solid;
  outline-width: -0.2em;
}
progress::-webkit-progress-value {
  border-radius: 1em 0 0 1em;
  height: 1em;
  background-color: var(--form-highlight-border-color-opaque);
}
progress::-webkit-progress-inner-element {
  -webkit-appearance: none;
          appearance: none;
}
progress:indeterminate {
  -webkit-animation: animated-stripes 3s linear infinite;
          animation: animated-stripes 3s linear infinite;
  background-color: transparent;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 0.5em, var(--form-highlight-border-color-opaque) 0.5em, var(--form-highlight-border-color-opaque) 1em);
  background-size: 200% 200%;
  border-color: var(--form-highlight-border-color-opaque);
  border-style: solid;
  border-width: -0.2em;
  outline: none;
}
progress:indeterminate::-webkit-progress-bar {
  background-color: transparent;
  outline: none;
}
progress:indeterminate::-moz-progress-bar {
  background-color: transparent;
}

textarea {
  vertical-align: top;
}/*# sourceMappingURL=form-schemes.css.map */