/** 
CSS rules for resizing and setting form elements. No properties or values related to color were written below.
*/
button,
select,
input,
textarea {
  border-radius: 0.25em;
  border-style: solid;
  border-width: 0.125em;
  font-size: 1em;
  outline: none;
  margin: 0.5em 0;
  padding: 0.5em 0.75em;
  vertical-align: middle;
}

button,
label,
input[type=button],
input[type=color],
input[type=file],
input[type=image],
input[type=color],
input[type=radio],
input[type=reset],
input[type=submit] {
  cursor: pointer;
}

button,
input[type=button] {
  border-radius: 0.5em;
  padding: 0.75em 1.75em;
}

select:-ms-expand {
  display: none;
}
select:-moz-focusring {
  color: transparent !important;
}

input:focus, input:focus-within, input:focus-visible,
textarea:focus,
textarea:focus-within,
textarea:focus-visible {
  border-style: solid;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.4;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.4;
}
input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 0.4;
}
input:not(:disabled):hover:not(:focus),
textarea:not(:disabled):hover:not(:focus) {
  border-style: solid;
}
input:not(:disabled):hover:not(:focus)::-moz-placeholder, textarea:not(:disabled):hover:not(:focus)::-moz-placeholder {
  opacity: 1;
}
input:not(:disabled):hover:not(:focus):-ms-input-placeholder, textarea:not(:disabled):hover:not(:focus):-ms-input-placeholder {
  opacity: 1;
}
input:not(:disabled):hover:not(:focus)::placeholder,
textarea:not(:disabled):hover:not(:focus)::placeholder {
  opacity: 1;
}

input[type=checkbox] {
  -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
  border: unset;
  cursor: pointer;
  font-size: 1.25em;
  height: 1em;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
}
input[type=checkbox]::before, input[type=checkbox]::after {
  border-radius: 5em;
  content: "";
  position: absolute;
  transition: 0.2s;
}
input[type=checkbox]::after {
  height: 0.75em;
  left: 0.15em;
  top: 0.125em;
  width: 0.75em;
}
input[type=checkbox]::before {
  border-style: solid;
  border-width: 0.1em;
  height: 0.8em;
  left: 0;
  top: 0;
  width: 2em;
}
input[type=checkbox]:checked:after {
  left: 1.25em;
}
input[type=checkbox]:not(:disabled):hover:not(:focus) {
  border: unset;
}

input[type=color] {
  border: none;
  height: 2em;
  padding: 0;
  width: 2em;
}
input[type=color]:focus, input[type=color]:focus-within, input[type=color]:focus-visible, input[type=color]:hover {
  border: none;
}
input[type=color]:not(:disabled):hover:not(:focus) {
  border: none;
}

input[type=radio] {
  height: 1.125em;
  vertical-align: bottom;
  width: 1.125em;
  margin: 0 0 0 0.25em;
}

input[type=range] {
  border: 0;
  cursor: e-resize;
  margin: -1px;
  padding: 0;
}

fieldset {
  border-radius: 0.5em;
  border-style: solid;
  border-width: 0.125em;
  padding: 0 0.5em 1em 0.5em;
}
fieldset legend {
  font-weight: bold;
  margin: 0 0.5em 0.5em;
  padding: 0 0.75em;
}

textarea {
  vertical-align: top;
}/*# sourceMappingURL=formsBoxModel.css.map */