pre[class*=language-] {
  position: relative;
  margin: 0 auto;
}
pre[class*=language-]:before {
  content: "";
  opacity: 0.4;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.7em;
  font-family: monospace;
  padding: 0 1em;
}

pre[class*=language-git]:before {
  content: "Git";
}

pre[class*=language-html]:before {
  content: "HTML";
}

pre[class*=language-css]:before {
  content: "CSS";
}

pre[class*=language-sass]:before,
pre[class*=language-scss]:before {
  content: "SASS/SCSS";
}

/**
This is main style for this page, refer to "darkFormElements" or "lightFormElements" files to wath/use the code
*/
/* html and body tags*/
* {
  box-sizing: border-box;
}

html {
  font-family: Sans-Serif;
  font-size: 60.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  padding: 0;
}

article,
body > header {
  position: relative;
  margin: 1em auto;
}

details,
h3,
h4,
h5,
h6,
p,
table,
ul {
  max-width: 48em;
  margin: 1em auto;
}

h1,
h2 {
  text-align: center;
}

header,
main {
  padding: 0.5em 1em;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

details summary {
  cursor: pointer;
}

code[class*=language-],
pre[class*=language-],
pre {
  font-size: 0.9em;
  width: 95%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

h1 {
  text-align: center;
}

table {
  border: 0.125em solid rgba(104, 104, 104, 0.6196078431);
  border-collapse: collapse;
}
table td,
table th {
  border-color: rgba(104, 104, 104, 0.6196078431);
  border-style: dotted;
  border-bottom-style: solid;
  border-width: 1px;
  padding: 0.5em;
}
table th {
  color: #1e1e1e;
  background-color: #ccc;
  border-left: none;
  height: 2em;
}

.logo {
  padding: 0.25em;
  border-width: 1px;
  border-style: solid;
}

.logo--text {
  padding: 0;
  display: inline-block;
  height: 1em;
  width: auto;
  vertical-align: bottom;
  border: none;
}

#list-of-elements article {
  border-bottom-width: 0.125em;
  border-bottom-style: dotted;
}
#list-of-elements article:first-child {
  padding-bottom: 0;
  border: none;
}
#list-of-elements .goToListElements {
  display: block;
  margin: 0 auto;
  padding: 1em 0 0.5em;
  text-align: right;
  width: 48em;
}

.sample-use-container {
  margin: 1em 0;
  display: flex;
  align-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}
.sample-use-container form {
  max-width: 25em;
}
.sample-use-container pre {
  margin: 0;
}

.tableContainer {
  overflow-x: auto;
  width: 100%;
}

.comparition {
  margin: 0 auto;
  overflow-x: auto;
}
.comparition td label {
  display: block;
}
.comparition td:nth-child(1) {
  min-width: 12em;
  max-width: 18em;
}
.comparition td:nth-child(2), .comparition td:nth-child(3), .comparition td:nth-child(4) {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.comparition .elementDescription {
  max-width: 25em;
}
.comparition pre {
  font-size: 0.85em;
  display: block;
  width: 100% !important;
}
.comparition .darkSchemeElements,
.comparition .ligthSchemeElements {
  text-align: center;
}
.comparition .darkSchemeElements button,
.comparition .darkSchemeElements select,
.comparition .darkSchemeElements input,
.comparition .darkSchemeElements textarea,
.comparition .darkSchemeElements output,
.comparition .ligthSchemeElements button,
.comparition .ligthSchemeElements select,
.comparition .ligthSchemeElements input,
.comparition .ligthSchemeElements textarea,
.comparition .ligthSchemeElements output {
  margin-top: 0;
}
.comparition .darkSchemeElements button,
.comparition .darkSchemeElements input[type=button],
.comparition .darkSchemeElements input[type=reset],
.comparition .darkSchemeElements input[type=submit],
.comparition .ligthSchemeElements button,
.comparition .ligthSchemeElements input[type=button],
.comparition .ligthSchemeElements input[type=reset],
.comparition .ligthSchemeElements input[type=submit] {
  display: block;
  margin: 0 auto;
}
.comparition .darkSchemeElements label,
.comparition .ligthSchemeElements label {
  display: block;
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0.5em;
}
.comparition .darkSchemeElements legend,
.comparition .ligthSchemeElements legend {
  text-align: left;
}

@media screen and (prefers-color-scheme: dark) {
  html {
    background-color: #1e1e1e;
    color: #a0a0a0;
  }
  .logo-externalUtil {
    background-color: #ccc;
  }
  b,
h1,
h2,
h3,
h4,
h5,
h6,
th,
strong {
    color: #e0e0e0;
  }
  a {
    color: #26b8ff;
  }
  a:visited {
    color: #26b8ff;
  }
  a:active {
    color: #85ec76;
  }
  details summary {
    color: #26b8ff;
  }
  details summary:active {
    color: #85ec76;
  }
  #list-of-elements article {
    border-bottom-color: #4d3c3c;
  }
}
@media screen and (prefers-color-scheme: light) {
  html {
    background-color: #ccc;
    color: #1e1e1e;
  }
  #list-of-elements article {
    border-bottom-color: #b26d1a;
  }
  .logo-externalUtil {
    background-color: #a8a8a8;
  }
  a {
    color: #314bc8;
  }
  a:visited {
    color: #314bc8;
  }
  a:active {
    color: #06970e;
  }
  details summary {
    color: #314bc8;
  }
  details summary:active {
    color: #85ec76;
  }
}
/*CSS rules to 360px max-width screens (mobile) */
/*@media screen and (max-width:360px) {
	html {
		// background-color: #F00;
	}
}

/*CSS rules to 640px max-width screens (tablet) */
/*@media screen and (max-width:360px) {
	html {
		// background-color: #F00;
	}
}
*//*# sourceMappingURL=main.css.map */