/** 
CSS rules for resizing and setting form elements. No properties or values related to color were written below.
*/

button,
select,
input,
textarea,
output {
	border-radius: 0.25em;
	border-style: solid;
	border-width: 0.125em;
	font-size: 1em;
	outline: none;
	margin: 0.5em 0;
	padding: 0.5em 0.75em;
	vertical-align: middle;
}

button,
label,
input[type="button"],
input[type='color'],
input[type='file'],
input[type='image'],
input[type='color'],
input[type='radio'],
input[type='reset'],
input[type='submit'] {
	cursor: pointer;
}

button,
input[type="button"] {
	border-radius: 0.5em;
	padding: 0.75em 1.75em;
}

//scrollable inputs
select,
textarea {

	/* width */
	// Firefox (omited)
	//scrollbar-width: thin;

	// Chrome (omited)

	&::-webkit-scrollbar {
		width: 1em;
		height: 1em;
	}

	///test

	//	&::-webkit-scrollbar:corner-present {
	//		display: block;
	//		background-color: #FD0;
	//	}

	&::-webkit-scrollbar-track-piece {
		background-clip: content-box;
		border-radius: 1em;
	}

	&::-webkit-scrollbar-button:vertical:start:decrement,
	&::-webkit-scrollbar-button:vertical:end:decrement,
	&::-webkit-scrollbar-button:vertical:end:increment,
	&::-webkit-scrollbar-button:horizontal:start:decrement,
	&::-webkit-scrollbar-button:horizontal:end:decrement,
	&::-webkit-scrollbar-button:horizontal:end:increment,
	&::-webkit-scrollbar-corner,
	&::-webkit-resizer {
		background-position: center;
		background-repeat: no-repeat;
		background-color: transparent;
		position: relative;

	}
}


input,
textarea {

	&:focus,
	&:focus-within,
	&:focus-visible {
		border-style: solid;
	}

	&::placeholder {
		color: inherit;
		opacity: 0.4;
	}

	&:not(:disabled) {
		&:hover:not(:focus) {
			border-style: solid;

			&::placeholder {
				opacity: 1;
			}
		}
	}
}

input[type="checkbox"] {
	-moz-appearance: none;
	appearance: none;
	border: unset;
	cursor: pointer;
	font-size: 1.25em;
	height: 1em;
	margin: 0;
	padding: 0;
	position: relative;
	vertical-align: middle;
	width: 0;

	&::before,
	&::after {
		border-radius: 5em;
		content: "";
		position: absolute;
		transition: 0.2s;
	}

	&::after {
		height: 0.75em;
		left: 0.15em;
		top: 0.125em;
		width: 0.75em;
	}

	&::before {
		border-style: solid;
		border-width: 0.1em;
		height: calc(1em - 0.2em);
		left: 0;
		top: 0;
		width: 2em;
	}

	&:checked {
		&:after {
			left: 1.25em;
		}
	}

	&:not(:disabled):hover:not(:focus) {
		border: unset;
	}
}

input[type='color'] {
	border: none;
	height: 2em;
	padding: 0;
	width: 2em;

	&:focus,
	&:focus-within,
	&:focus-visible,
	&:hover {
		border: none;
	}

	&:not(:disabled) {
		&:hover:not(:focus) {
			border: none;

		}
	}
}

fieldset {
	border-radius: 0.5em;
	border-style: solid;
	border-width: 0.125em;
	padding: 0 0.5em 1em 0.5em;

	legend {
		font-weight: bold;
		margin: 0 0.5em 0.5em;
		padding: 0 0.75em;
	}
}

input[type='radio'] {
	height: 1.125em;
	vertical-align: bottom;
	width: 1.125em;
	margin: 0 0 0 .25em;
}

input[type='range'] {
	border: 0;
	cursor: e-resize;
	margin: -1px;
	padding: 0;
}

label {
	margin: 1em 0 0.5em;
}

select {
	cursor: pointer;
	padding: 0.25em 0.75em;

	&:-ms-expand {
		display: none;
	}

	&:-moz-focusring {
		color: transparent !important;
	}

	&[size] {
		padding: 0;
	}

	optgroup {
		&::before {
			padding: 0 0.25em;

		}
	}

	option {
		margin: 0;
		padding: 0.25em 0.5em;
		cursor: pointer;

		&::before {
			display: inline-block;
			width: 0.125em;
		}
	}
}

textarea {
	vertical-align: top;
}

output {
	padding: 0.25em;
}
