/** 
CSS rules for resizing and setting form elements. No properties or values related to color were written below.
*/


//scrollable inputs
select,
textarea {

	//scollbar width
	// Firefox (omited)
	//scrollbar-width: thin;

	// Chrome (omited)

	&::-webkit-scrollbar {
		width: 1em;
		height: 1em;
	}

	&::-webkit-scrollbar-track-piece {
		background-clip: content-box;
		border-radius: 1em;
	}

	&::-webkit-scrollbar-button:vertical:start:decrement,
	&::-webkit-scrollbar-button:vertical:end:decrement,
	&::-webkit-scrollbar-button:vertical:end:increment,
	&::-webkit-scrollbar-button:horizontal:start:decrement,
	&::-webkit-scrollbar-button:horizontal:end:decrement,
	&::-webkit-scrollbar-button:horizontal:end:increment,
	&::-webkit-scrollbar-corner,
	&::-webkit-resizer {
		background-position: center;
		background-repeat: no-repeat;
		background-color: transparent;
		position: relative;

	}
}

input:-internal-autofill-selected {
	appearance: initial !important;
	background-image: initial !important;
	background-color: initial !important;
	color: initial !important;
}

button,
input[type="button"],
input[type='color'],
input[type='file'],
input[type='image'],
input[type='color'],
input[type='radio'],
input[type='reset'],
input[type='submit'] {
	cursor: pointer;
}

button,
input,
output,
select,
textarea {
	border-radius: 0.25em;
	border-style: solid;
	border-width: 0.2em;
	font-size: 1em;
	outline: none;
	margin: 0.5em 0;
	padding: 0.5em 0.75em;
	vertical-align: middle;

	&:disabled {
		cursor: not-allowed !important;
	}
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-radius: 0.5em;
	padding: 0.5em 1.5em;
}

input,
textarea {

	&:focus,
	&:focus-within,
	&:focus-visible {
		border-style: solid;
	}

	&::placeholder {
		color: inherit;
		opacity: 0.4;
	}

	&:not(:disabled) {
		&:hover:not(:focus) {
			border-style: solid;

			&::placeholder {
				opacity: 1;
			}
		}
	}
}

fieldset {
	border-radius: 0.5em;
	border-style: solid;
	border-width: 0.125em;
	padding: 0 0.5em 1em 0.5em;
	border-collapse: initial;

	legend {
		padding: 0 0.75em;
		margin: 0 0.5em 0.5em;
	}
}

input[type="checkbox"] {
	-moz-appearance: none;
	appearance: none;
	border: unset;
	cursor: pointer;
	font-size: 1.25em;
	height: 1em;
	margin: 0;
	padding: 0;
	position: relative;
	vertical-align: middle;
	width: 0;

	&::before,
	&::after {
		border-radius: 5em;
		content: "";
		position: absolute;
		transition: 0.2s;
	}

	&::after {
		height: 0.75em;
		left: 0.15em;
		top: 0.125em;
		width: 0.75em;
	}

	&::before {
		border-style: solid;
		border-width: 0.1em;
		height: calc(1em - 0.2em);
		left: 0;
		top: 0;
		width: 2em;
	}

	&:checked {
		&:after {
			left: 1.25em;
		}
	}

	&:not(:disabled):hover:not(:focus) {
		border: unset;
	}
}

input[type='color'] {
	-webkit-appearance: none;

	border: none;
	height: 2em;
	padding: 0;
	width: 2em;

	&:focus,
	&:focus-within,
	&:focus-visible,
	&:hover {
		border: none;
	}

	&:not(:disabled) {
		&:hover:not(:focus) {
			border: none;
		}
	}

	&[list] {
		width: 4em;
	}

	&::-webkit-color-swatch-wrapper {
		padding: 0;
	}

	&::-webkit-color-swatch {
		border-width: 1em solid #FD0;
	}
}

input[type="image"] {
	background: none;
	border: none;
	padding: 0;
	margin: 0.5em;

	&:not(:disabled) {
		&:hover {
			border: none;
		}
	}

	&:hover {
		border: none;
	}

}

input[type="number"] {
	&.no-arrows {

		//Chrome, Safari, Edge, Opera
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		//Firefox
		&[type=number] {
			-moz-appearance: textfield;
		}
	}
}

input[type='radio'] {
	height: 1.125em;
	vertical-align: bottom;
	width: 1.125em;
	margin: 0 0 0 .25em;
}

input[type="range"] {
	$trackHeight: 0.5em;
	$borderTrack: 0.1em;
	$thumbSize: 1em;

	appearance: none;
	border: none;
	border-radius: 1em;
	padding: 0;
	position: relative;

	@supports (-moz-appearance:none) {
		background-color: transparent;
	}

	&::-webkit-slider-runnable-track {
		appearance: none;
		border-radius: 1em;
		cursor: pointer;
		height: calc(#{$trackHeight} + #{$borderTrack});
		outline-offset: calc($borderTrack * -1);
		outline-style: solid;
		outline-width: $borderTrack;
	}

	&::-webkit-slider-thumb {
		appearance: none;
		border-radius: 1em;
		cursor: ew-resize;
		height: $thumbSize;
		transform: translateY(calc(((#{$trackHeight} / 2) - (0.5px)) * -1));
		width: $thumbSize;
	}

	&::-moz-range-progress {
		visibility: hidden;
	}

	&::-moz-range-track {
		border-radius: 1em;
		cursor: pointer;
		height: $trackHeight;
		border-width: $borderTrack;
		border-style: solid;
	}

	&::-moz-range-thumb {
		border: none;
		cursor: ew-resize;
	}

	&:hover {
		border-width: 0;
	}
}

label {
	margin: 1em 0 0.5em;
}

legend {
	font-weight: bold;
	margin: 0.5em 0.5em 0;
}

select {
	cursor: pointer;
	padding: 0.25em 0.75em;

	&:-ms-expand {
		display: none;
	}

	&:-moz-focusring {
		color: transparent !important;
	}

	&[size] {
		padding: 0;
	}

	option {
		margin: 0;
		padding: 0.25em 0.5em;
		cursor: pointer;

		&::before {
			display: inline-block;
			width: 0.125em;
		}
	}

	optgroup {
		cursor: default;

		&::before {
			padding: 0 0.25em;

		}
	}
}

textarea {
	vertical-align: top;
}

output {
	border: none;
}

progress {
	@keyframes animated-stripes {
		to {
			background-position: 100% 100%;
		}
	}

	$elementHeight: 0.75em;
	$translateY: calc(((1em - #{$elementHeight}) / 2) * -1);

	appearance: none;
	border: none;
	border-radius: 1em;
	overflow: hidden;
	padding: 0;
	height: $elementHeight;
	vertical-align:0;
	transform: translateY($translateY);

	@supports (-moz-appearance:none) {
		background-color: red;
		height: $elementHeight;
	}

	&:indeterminate {
		background-color: transparent;
		background-image: repeating-linear-gradient(-45deg,
				transparent,
				transparent 1rem,
				#ccc 1rem,
				#ccc 2rem);
		background-size: 200% 200%;
		border: 1px solid #ccc;
		animation: animated-stripes 3s linear infinite;

		&::-webkit-progress-bar {
			background-color: transparent;
		}

		&::-moz-progress-bar {
			background-color: transparent;
		}
	}

	&::-webkit-progress-bar {
		appearance: none;
		border-radius: 1em;
		height: $elementHeight;
		background-color: red;
	}

	&::-webkit-progress-value {
		border-radius: 1em 0 0 1em;
		height: $elementHeight;
		background-color: #00F;
	}

	&::-webkit-progress-inner-element {
		appearance: none;
	}

	&::-moz-progress-bar {
		background-color: #00F;
	}
}
