pre[class*="language-"] {
	position: relative;
	margin: 0 auto;

	&:before {
		content: "";
		opacity: 0.4;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		font-size: 0.7em;
		font-family: monospace;
		padding: 0 1em;
	}
}

pre[class*="language-git"] {
	&:before {
		content: "Git";
	}
}

pre[class*="language-html"] {
	&:before {
		content: "HTML";
	}
}

pre[class*="language-css"] {
	&:before {
		content: "CSS";
	}
}

pre[class*="language-sass"],
pre[class*="language-scss"] {
	&:before {
		content: "SASS/SCSS";
	}
}
