footer {
	background-color: var(--box-background-color);
	padding: 1em;

	display: flex;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: space-evenly;

	a {
		display: block;
	}

	p {
		margin: 0;
	}

	#about-us {
		order: 3;
		text-align: center;
		width: 100%;

		a {
			span {
				display: block;
			}
		}
	}

	#license {
		order: 2;
		text-align: center;
		width: 15em;

		a {
			span {
				display: block;
			}
		}

		img {
			margin: 0 auto;
			display: block;
		}

	}

	#thanks-to {
		order: 1;
		text-align: center;
		width: 15em;

		p {
			margin: 0 0 1em 0;


			&:last-child {
				margin: 0
			}
		}

		strong {
			display: block;
			margin-bottom: 0.5em;
		}

		a {
			display: block;
			margin-bottom: 0.25em;
		}
	}
}

@media screen and (min-width: 48em) {
	footer {

		#about-us,
		#thanks-to,
		#license {
			width: 14em;
			;
		}

		#about-us {
			order: 2;
		}

		#license {
			order: 3;
		}

		#thanks-to {
			order: 1;
		}
	}
}
