#summary-wrapper {
	--border-summary-width: 0.1em;
	background-color: var(--box-background-color);
	border: var(--border-summary-width) solid var(--border-lines-color);
	border-left: none;
	border-bottom: none;
	height: calc(100vh - var(--header-height));
	left: 0;
	padding: 0;
	position: fixed;
	top: var(--header-height);
	transform: translateX(-100%);
	z-index: 3;

	align-self: flex-start;


	&.show {
		transition: transform 0.2s;
		transform: translateX(0);
	}

	&.hide {
		transition: transform 0.2s;
		transform: translateX(-100%);
	}

	a {
		padding: 0.5em;
		display: block;

		&:hover {
			background-color: var(--main-background-color);
		}
	}

	details {
		margin: 0;

		summary {
			display: block;
			position: relative;


			&::after {
				content: '\25BC';
				display: block;
				padding: 0.5em;
				position: absolute;
				right: 0;
				top: 0;
				transition: rotate 0.5s;
				width: 1em;
			}

			&:hover {
				background-color: var(--main-background-color);
			}
		}

		&[open] {
			summary {
				&::after {
					rotate: 180deg;
				}
			}
		}
	}

	h2 {
		text-align: center;
	}

	.icon-arrow {
		background: var(--box-background-color);
		border-radius: 0 0 25% 0;
		border: 0.1em solid var(--border-lines-color);
		border-left: none;
		height: 2em;
		line-height: 0.8em;
		padding: 0.5em 0.4em;
		position: absolute;
		right: -2em;
		top: calc(0em - var(--border-summary-width));
		width: 2em;


		&::before {
			display: block;
			rotate: 90deg;
			width: 1em;

		}

		&:hover {
			color: var(--link-font-color);
			cursor: pointer;
			background-color: var(--main-background-color);
		}

		&.summary-element-hover {
			padding: 0.5em 0.35em;

			&::before {
				rotate: 270deg;
			}
		}
	}

	li {
		ul {
			margin: 0;

			a {
				padding-left: 1.25em;
			}
		}

	}

	ul {
		list-style: none;
	}

	summary {
		a {
			display: block;
			width: calc(100% - 2em);
		}
	}

	#index {
		margin: 0;
		overflow-y: auto;
		overflow-x: hidden;
		height: calc(100vh - (var(--header-height) + 2em - var(--border-summary-width)));

		//firefox scroll bar theme
		scrollbar-color: var(--link-font-color) var(--main-background-color); //1st thumb, 2nd track
		scrollbar-width: thin;

		// Chrome scrollbar
		&::-webkit-scrollbar {
			width: 0.5em;
		}

		// Scrollbar Track
		&::-webkit-scrollbar-track {
			background-color: var(--main-background-color);
			border-radius: 1em;

		}

		// Scrollbar track piece
		&::-webkit-scrollbar-track-piece {
			background-clip: content-box;
			border-radius: 1em;
		}

		// Handle
		&::-webkit-scrollbar-thumb {
			background: var(--link-font-color);
			border-radius: 1em;
		}


		details {
			padding: 0.5em 0;
		}
	}
}
