/*icons by icomoon font*/
@use "icomoon/style";

/*prism module adjust to project*/
@use "_project-prism-complement.scss";

/*project web page colors*/
@use "_project-colors.scss";

/*global elements normalized for global webpage*/
@use "_project-normalize.scss";

/*specific area: header*/
@use "_project-header.scss";

/*specific area: footer*/
@use "_project-footer.scss";

/*specific area: summary*/
@use "_project-summary.scss";



main {
	display: flex;
	gap: 1em;
	padding-top: 1.5em;

	section {
		padding: 0.5em;
	}
}


code[class*=language-],
pre[class*=language-],
pre {
	font-size: 0.9em;
	width: 95%;
	max-width: fit-content;
}


//////////////////// 
//////////////////// Table Styles
//////////////////// 

table {
	border: 0.125em solid var(--table-lines-color);
	border-collapse: collapse;

	td,
	th {
		border-color: var(--table-lines-color);
		border-style: dotted;
		border-bottom-style: solid;
		border-width: 1px;
		padding: 0.5em;
	}

	th {
		color: var(main-font-color);
		background-color: var(main-background-color);
		border-left: none;
		height: 2em;
	}
}

//////////////////// 
//////////////////// logos Styles
//////////////////// 

.logo {
	padding: 0.25em;
	border-width: 1px;
	border-style: solid;
}

.logo--text {
	padding: 0;
	display: inline-block;
	height: 1em;
	width: auto;
	vertical-align: bottom;
	border: none;
}

#list-of-elements {
	article {
		border-bottom-width: 0.125em;
		border-bottom-style: dotted;
		border-bottom-color: var(--border-lines-color);

		&:first-child {
			padding-bottom: 0;
			border: none;
		}
	}

	.goToListElements {
		display: block;
		margin: 0 auto;
		padding: 1em 0 0.5em;
		text-align: right;
		max-width: 48em;
	}
}

//////////////////// 
//////////////////// class elements
//////////////////// 

.text__only-big-screen {
	visibility: hidden;
	width: 0;
	height: 0;
	display: none;
}

.text__any-screen {
	display: inline !important;
}

.text__capitalize {
	text-transform: capitalize;
}

/*take care and snoop next lines*/
.sample-use-container {
	margin: 1em 0;

	&_code {
		display: flex;
		align-content: space-evenly;
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1em;
		justify-content: center;
	}

	form {
		max-width: 25em;
	}

	pre {
		margin: 0;
	}

}

.tableContainer {
	overflow-x: auto;
	width: 100%;
}

.comparition {
	margin: 0 auto;
	overflow-x: auto;

	button,
	input,
	output,
	select,
	textarea {
		margin: 0.5em 0;
	}

	td {
		label {
			display: block;
		}

		&:nth-child(1) {
			min-width: 12em;
			max-width: 18em;
		}

		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {
			min-width: fit-content;
		}
	}

	pre {
		font-size: 0.85em;
		display: block;
		width: 100% !important;
	}

	.elementDescription {
		max-width: 25em;
	}

	.darkSchemeElements,
	.ligthSchemeElements {
		text-align: center;

		button,
		select,
		input,
		textarea,
		output {
			margin-top: 0
		}

		button,
		input[type="button"],
		input[type="reset"],
		input[type="submit"] {
			display: block;
			margin: 0 auto;
		}

		label {
			display: block;
			text-align: left;
			margin-bottom: 0;
			padding-bottom: 0.5em;
		}

		legend {
			text-align: left;
		}
	}
}

/*CSS rules to 360px max-width screens (mobile) */
//When screen is bigger than 360px, below rules does not apply
/*@media screen and (max-width:360px) {
	html {
		// background-color: #F00;
	}
}

/*CSS rules to 640px max-width screens (tablet) */
//When screen is bigger than 640px, below rules does not apply
/*@media screen and (max-width:360px) {
	html {
		// background-color: #F00;
	}
}
*/
