@use "_normalize.scss";
@use "_prism-complement.scss";
/**
This is main style for this page, refer to "darkFormElements" or "lightFormElements" files to wath/use the code
*/

//////////////////// 
//////////////////// Global colors
//////////////////// 
$table-lines-color: #6868689e;


//////////////////// 
//////////////////// Dark Colors
//////////////////// 
//background colors
$main-dark-background-color: #1e1e1e;
$box-dark-background-color: #ccc;

//Font colors
$main-dark-font-color: #a0a0a0;
$link-dark-font-color: #26b8ff;
$link-dark-font-active-color: #85ec76;
$strong-dark-font-color: #e0e0e0;

//borders
$border-lines-dark-color: #4d3c3c;

//////////////////// 
//////////////////// Ligth colors
//////////////////// 
//background colors
$main-light-background-color: #ccc;
$box-light-background-color: #a8a8a8;

//Font colors
$main-light-font-color: #1e1e1e;
$link-light-font-color: #314bc8;
$link-light-font-active-color: #06970e;

//borders
$border-lines-light-color: #b26d1a;

/* html and body tags*/
* {
	box-sizing: border-box;
}

html {
	font-family: Sans-Serif;
	font-size: 60.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	padding: 0;
}

//Elements into body tag
article,
body>header {
	position: relative;
	margin: 1em auto
}

details,
h3,
h4,
h5,
h6,
p,
table,
ul {
	max-width: 48em;
	margin: 1em auto;
}

h1,
h2 {
	text-align: center;
}

header,
main {
	padding: 0.5em 1em;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

details {
	summary {
		cursor: pointer;
	}
}

code[class*=language-],
pre[class*=language-],
pre {
	font-size: 0.9em;
	width: 95%;
	max-width: fit-content;
}

h1 {
	text-align: center;
}

//////////////////// 
//////////////////// Table Styles
//////////////////// 

table {
	border: 0.125em solid $table-lines-color;
	border-collapse: collapse;

	td,
	th {
		border-color: $table-lines-color;
		border-style: dotted;
		border-bottom-style: solid;
		border-width: 1px;
		padding: 0.5em;
	}

	th {
		color: $main-light-font-color;
		background-color: $main-light-background-color;
		border-left: none;
		height: 2em;
	}
}

//////////////////// 
//////////////////// logos Styles
//////////////////// 

.logo {
	padding: 0.25em;
	border-width: 1px;
	border-style: solid;
}

.logo--text {
	padding: 0;
	display: inline-block;
	height: 1em;
	width: auto;
	vertical-align: bottom;
	border: none;
}

#list-of-elements {
	article {
		border-bottom-width: 0.125em;
		border-bottom-style: dotted;

		&:first-child {
			padding-bottom: 0;
			border: none;
		}
	}

	.goToListElements {
		display: block;
		margin: 0 auto;
		padding: 1em 0 0.5em;
		text-align: right;
		width: 48em;
	}
}

//////////////////// 
//////////////////// class elements
//////////////////// 
.sample-use-container {
	margin: 1em 0;

	display: flex;
	align-content: space-evenly;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: center;

	form {
		max-width: 25em;
	}

	pre {
		margin: 0;
	}
}

.tableContainer {
	overflow-x: auto;
	width: 100%;
}

.comparition {
	margin: 0 auto;
	overflow-x: auto;

	td {
		label {
			display: block;
		}

		&:nth-child(1) {
			min-width: 12em;
			max-width: 18em;
		}

		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {
			min-width: fit-content;
		}
	}

	.elementDescription {
		max-width: 25em;
	}


	pre {
		font-size: 0.85em;
		display: block;
		width: 100% !important;
	}

	.darkSchemeElements,
	.ligthSchemeElements {
		text-align: center;

		button,
		select,
		input,
		textarea,
		output {
			margin-top: 0
		}

		button,
		input[type="button"],
		input[type="reset"],
		input[type="submit"] {
			display: block;
			margin: 0 auto;
		}

		label {
			display: block;
			text-align: left;
			margin-bottom: 0;
			padding-bottom: 0.5em;
		}

		legend {
			text-align: left;
		}
	}
}


@media screen and (prefers-color-scheme: dark) {

	html {
		background-color: $main-dark-background-color ;
		color: $main-dark-font-color;
	}

	.logo-externalUtil {
		background-color: $box-dark-background-color;
	}

	b,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	th,
	strong {
		color: $strong-dark-font-color;
	}

	a {
		color: $link-dark-font-color;

		&:visited {
			color: $link-dark-font-color;
		}

		&:active {
			color: $link-dark-font-active-color;
		}
	}

	details {
		summary {
			color: $link-dark-font-color;

			&:active {
				color: $link-dark-font-active-color
			}
		}
	}

	#list-of-elements {
		article {
			border-bottom-color: $border-lines-dark-color
		}
	}
}

@media screen and (prefers-color-scheme: light) {
	html {
		background-color: $main-light-background-color ;
		color: $main-light-font-color;
	}

	#list-of-elements {
		article {
			border-bottom-color: $border-lines-light-color
		}
	}

	.logo-externalUtil {
		background-color: $box-light-background-color;
	}

	a {
		color: $link-light-font-color;

		&:visited {
			color: $link-light-font-color;
		}

		&:active {
			color: $link-light-font-active-color;
		}
	}

	details {
		summary {
			color: $link-light-font-color;

			&:active {
				color: $link-dark-font-active-color
			}
		}
	}
}

/*CSS rules to 360px max-width screens (mobile) */
//When screen is bigger than 360px, below rules does not apply
/*@media screen and (max-width:360px) {
	html {
		// background-color: #F00;
	}
}

/*CSS rules to 640px max-width screens (tablet) */
//When screen is bigger than 640px, below rules does not apply
/*@media screen and (max-width:360px) {
	html {
		// background-color: #F00;
	}
}
*/
