@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?wenfj0');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?wenfj0#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?wenfj0') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?wenfj0') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?wenfj0##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow {
  &:before {
    content: $icon-arrow; 
  }
}
.icon-bugs {
  &:before {
    content: $icon-bugs; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-formElements {
  &:before {
    content: $icon-formElements; 
  }
}
.icon-howToUse {
  &:before {
    content: $icon-howToUse; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-moon {
  &:before {
    content: $icon-moon; 
  }
}
.icon-sun {
  &:before {
    content: $icon-sun; 
  }
}
.icon-github {
  &:before {
    content: $icon-github; 
  }
}

