$icomoon-font-family: "dlsf-ico" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow: "\e900";
$icon-bugs: "\e901";
$icon-close: "\e902";
$icon-formElements: "\e903";
$icon-howToUse: "\e904";
$icon-menu: "\e905";
$icon-moon: "\e906";
$icon-sun: "\e907";
$icon-github: "\e908";

